@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

header {
    margin-bottom: 30px;
}

.logo-alura {
    padding: 3px 0;
}

body {
    background: linear-gradient(90deg, #ced3e6 0%, #0A3871 100%);
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.entrada {
    width: 55%;
}

.digite-texto {
    width: 100%;
}

.digite-texto textarea {
    border-radius: 20px;
    background: linear-gradient(90deg, #CBD1E4 0%,#CAD1E3 100%);
    padding: 20px;
    width: 100%;
    font-size: 28px;
    color: #0A3871;
    border: none;
    resize: none;
    margin-bottom: 10px;
}

.digite-texto textarea:focus {
    border: 0 none;
    outline: 0;
}

::placeholder {
    color: #0A3871;
}

.salida {
    width: 40%;
}

.contenido-resultado-vacio {
    background: linear-gradient(90deg, #CBD1E4 0%,#CAD1E3 100%);
    text-align: center;
    width: 80%;
    padding: 93px 20px;
    border-radius: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.contenido-resultado-ok {
    text-align: center;
    background: linear-gradient(90deg, #CBD1E4 0%,#CAD1E3 100%);
    width: 80%;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.contenido-resultado-ok textarea {
    border: none;
    background: none;
    width: 100%;
    font-size: 20px;
    color: #0A3871;
    resize: none;
    margin-bottom: 10px;
}

.contenido-resultado-ok textarea:focus {
    outline: 0;
}

.btn-encriptar, .btn-desencriptar, .btn-copiar {
    padding: 15px;
    width: 200px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.btn-encriptar, .btn-copiar {
    background: #0A3871;
    color: white;
}

.btn-encriptar:hover, .btn-desencriptar:hover, .btn-copiar:hover {
    transform: scale(1.1);
}

.btn-desencriptar {
    background: #D8DFE8;
    color: #0A3871;
}

footer {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: #D8DFE8;
    font-family: 'Raleway';
}

.redes-sociales {
    text-decoration: none;
    margin: 5px;
    color: #D8DFE8;
}

.linkedin:hover, .github:hover {
    font-size: 22px;
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    .container, .entrada, .salida {
        width: 100%;
    }

    .container, .botones {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .btn-encriptar, .btn-desencriptar {
        margin: 5px 0;
        width: auto;
    }

    .digite-texto textarea {
        height: 350px;
    }

    .btn-encriptar:hover, .btn-desencriptar:hover, .btn-copiar:hover {
        transform: scale(1.0);
    }

    #img {
        display: none;
    }

    .contenido-resultado-vacio {
        margin-top: 5px;
        padding: 30px 0px;
        width: auto;
    }

    .contenido-resultado-ok {
        margin-top: 5px;
        width: auto;
    }

    .contenido-resultado-ok textarea {
        height: 100px;
    }

}

@media screen and (min-width: 481px) and (max-width: 1199px) {
    .container, .entrada, .salida {
        width: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .btn-encriptar, .btn-desencriptar {
        margin: 5px 0;
        width: auto;
    }

    .digite-texto textarea {
        height: 250px;
    }

    .btn-encriptar:hover, .btn-desencriptar:hover, .btn-copiar:hover {
        transform: scale(1.0);
    }

    #img {
        display: none;
    }

    .contenido-resultado-vacio {
        margin-top: 10px;
        padding: 30px 0px;
        width: auto;
    }

    .contenido-resultado-ok {
        margin-top: 10px;
        width: auto;
    }

    .contenido-resultado-ok textarea {
        height: 100px;
    }


}